<!-- This is a partial, used as template for the form in new.ejs and edit.ejs, since they are the same. -->

<!-- Each field pulls data from article object (in server), when creating a new article the fields are 
    empty but when editing they will be populated with the correct data, also when the user makes a mistake 
    and fails to get validated their text will stay. -->

<div class="form-group mt-4">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
            
<div class="form-group mt-4">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>

<div class="form-group mt-4">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control mb-5"><%= article.markdown %></textarea>
</div>

<a href="/articles/blog-posts" class="btn btn-danger">Cancel</a>
<button type="submit" class="btn btn-dark">Save</button>