/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}


/* ========= Header + Nav bar ========= */
nav {
    background-color: #2ec4b6;
    color: #000;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

#header-icon {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

#header-logo {
    display: inline;
    width: 320px;
}

#header-logo h4 {
    padding-top: 8px;
    font-weight: 700;
}

#header-logo a {
    text-decoration: none;
    color: #000;
}

/* Hide header text ('Gym Rat | Fitness Blog') when screen size is too small, leaves logo */
@media screen and (max-width: 1200px) {
    #header-logo h4 {
        display: none;
    }
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
}

nav li a:hover {
    color: #fff;
    text-decoration: none;
}


/* ========= Button styles ========= */
.btn-dark {
    background-color: rgb(66, 66, 66);
    border: none;
}

.btn-danger {
    background-color: #ff5588;
    border: none;
}

.btn-danger:hover {
    background-color: #fd3470;
}

.btn-secondary {
    border: none;
}

.btn-cancel {
    background-color: rgb(122, 122, 122);
    color: #fff;
}

.btn-cancel:hover {
    background-color: rgb(102, 102, 102);
    color: #fff;
}

.card {
    box-shadow: 1px 1px 2px rgb(179, 179, 179);
}


/* ========= Profile page ========= */
.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 60%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}


/* ========= Article pages ========= */
#post-article {
    height: 150px;
}

#markdown {
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
}

#title, #description, #markdown {
    background-color: rgb(221, 221, 221);
    border: none;
    margin-top: 5px;
}